<!-- <button>Iniciar</button>-->

<div class="dropdown">
    <button class="btn btn-dark btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Oscilador
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"(click)="changeOsc('sawtooth')">Sawtooth</a></li>
      <li><a class="dropdown-item"(click)="changeOsc('sine')">Sine</a></li>
      <li><a class="dropdown-item"(click)="changeOsc('triangle')">Triangle</a></li>
      <li><a class="dropdown-item"(click)="changeOsc('square')">Square</a></li>
    </ul>
</div>

<ul class="set ul">
    <li class="white b li" (click)="play(notas[0][0])"></li>
    <li class="black as li" (click)="play(notas[0][1])"></li>
    <li class="white a li" (click)="play(notas[0][2])"></li>
    <li class="black gs li" (click)="play(notas[0][3])"></li>
    <li class="white g li" (click)="play(notas[0][4])"></li>
    <li class="black fs li" (click)="play(notas[0][5])"></li>
    <li class="white f li" (click)="play(notas[0][6])"></li>
    <li class="white e li" (click)="play(notas[0][7])"></li>
    <li class="black ds li" (click)="play(notas[0][8])"></li>
    <li class="white d li" (click)="play(notas[0][9])"></li>
    <li class="black cs li" (click)="play(notas[0][10])"></li>
    <li class="white c li" (click)="play(notas[0][11])"></li>
</ul>

<ul class="set ul">
    <li class="white b li" (click)="play(notas[1][0])"></li>
    <li class="black as li" (click)="play(notas[1][1])"></li>
    <li class="white a li" (click)="play(notas[1][2])"></li>
    <li class="black gs li" (click)="play(notas[1][3])"></li>
    <li class="white g li" (click)="play(notas[1][4])"></li>
    <li class="black fs li" (click)="play(notas[1][5])"></li>
    <li class="white f li" (click)="play(notas[1][6])"></li>
    <li class="white e li" (click)="play(notas[1][7])"></li>
    <li class="black ds li" (click)="play(notas[1][8])"></li>
    <li class="white d li" (click)="play(notas[1][9])"></li>
    <li class="black cs li" (click)="play(notas[1][10])"></li>
    <li class="white c li" (click)="play(notas[1][11])"></li>
</ul>
<!-- 
<ul class="set">
    <li class="white b" (click)="play('F4')"></li>
    <li class="black as" (click)="play('F#4')"></li>
    <li class="white a" (click)="play('G4')"></li>
    <li class="black gs" (click)="play('G#4')"></li>
    <li class="white g" (click)="play('A4')"></li>
    <li class="black fs" (click)="play('A#4')"></li>
    <li class="white f" (click)="play('B4')"></li>
    <li class="white e" (click)="play('C5')"></li>
    <li class="black ds" (click)="play('C#5')"></li>
    <li class="white d" (click)="play('D5')"></li>
    <li class="black cs" (click)="play('D#5')"></li>
    <li class="white c" (click)="play('E5')"></li>
</ul> -->