<button>Iniciar</button>

<ul class="set">
    <li class="white b" (click)="play('F2')"></li>
    <li class="black as" (click)="play('F#2')"></li>
    <li class="white a" (click)="play('G2')"></li>
    <li class="black gs" (click)="play('G#2')"></li>
    <li class="white g" (click)="play('A2')"></li>
    <li class="black fs" (click)="play('A#2')"></li>
    <li class="white f" (click)="play('B2')"></li>
    <li class="white e" (click)="play('C3')"></li>
    <li class="black ds" (click)="play('C#3')"></li>
    <li class="white d" (click)="play('D3')"></li>
    <li class="black cs" (click)="play('D#3')"></li>
    <li class="white c" (click)="play('E3')"></li>
</ul>

<ul class="set">
    <li class="white b" (click)="play('F3')"></li>
    <li class="black as" (click)="play('F#3')"></li>
    <li class="white a" (click)="play('G3')"></li>
    <li class="black gs" (click)="play('G#3')"></li>
    <li class="white g" (click)="play('A3')"></li>
    <li class="black fs" (click)="play('A#3')"></li>
    <li class="white f" (click)="play('B3')"></li>
    <li class="white e" (click)="play('C4')"></li>
    <li class="black ds" (click)="play('C#4')"></li>
    <li class="white d" (click)="play('D4')"></li>
    <li class="black cs" (click)="play('D#4')"></li>
    <li class="white c" (click)="play('E4')"></li>
</ul>

<ul class="set">
    <li class="white b" (click)="play('F4')"></li>
    <li class="black as" (click)="play('F#4')"></li>
    <li class="white a" (click)="play('G4')"></li>
    <li class="black gs" (click)="play('G#4')"></li>
    <li class="white g" (click)="play('A4')"></li>
    <li class="black fs" (click)="play('A#4')"></li>
    <li class="white f" (click)="play('B4')"></li>
    <li class="white e" (click)="play('C5')"></li>
    <li class="black ds" (click)="play('C#5')"></li>
    <li class="white d" (click)="play('D5')"></li>
    <li class="black cs" (click)="play('D#5')"></li>
    <li class="white c" (click)="play('E5')"></li>
</ul>